
.cardReason {

    background-color: #FFFFFF;
    width: 400px;
    height: 225px;
    padding-top: 30px;
    padding-left: 18px;
    margin-top: 18px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 #00000033;
}

@media(max-width:900px) {
    .cardReason {
        width: 298px;
        height: 188px;
    }
    .cardReason__img {
        width: 57px;
        height: 64px;
    }

}
